.splash-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.splash-para {
    font-size: 38px;
    font-weight: 700;
    color: #F7941C;
    text-align: center;
}

/* .page-div {
    display: flex;
    flex-direction: column;
    height: 900px;
} */

.inner-splash-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}