.habit-form-container{
  width: 300px;
  height: 250px;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 1px 1px lightgray;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
}

.habit-form-header-container{
  display: flex;
  justify-content: end;
}

.close-x{
  margin-right: 7%;
}

.habit-name-container{
  margin-left: 10%;
  margin-top: 5%;
}

.habit-name-label{
  font-weight: 700;
}

.habit-name-input{
  margin-top: 5%;
  margin-left: 5%;
  width: 150px;
  height: 20px;
  border: none;
  border-bottom:2px solid lightslategray;
}

.habit-name-input:focus{
  outline: none;
}

.habit-submit{
  background: #F7941C;
  border-radius: 30px;
  border: none;
  padding: 8px 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.habit-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.habit-form-middle-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
}

.finger{
  margin-left: 5%;
  font-size: 25px;
  color: orange;
}

.enter-habit{
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: orange;
  text-shadow: 2px 2px lightgray;
}