.groups-index-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* background-color: #f7b42c;
background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); */


.groups-index{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20%;
  margin-left: 20%;
}

.group-index-item{
  position: relative;
  width: 300px;
  height: 150px;
  margin: 8% 2%;
  padding: 20px;
  border: 0px solid black;
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
  border-radius: 5px;
  color: white;
  font-family: inherit;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-name{
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.group-size {
  font-weight: 400;
}

.create-group-btn{
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  border-radius: 25px;
  border: none;
  padding: 3px 3px 0 3px;
  color: white;
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 5%;
}

.people{
  position: absolute;
  font-size: 40px;
  top: 55%;
}
