.log-form-container {
  background-color: white;
  color: #f7941c;
  width: 450px;
  height: 150px;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px lightgray;
  padding: 8px 15px;
}

.close-x {
    display: flex;
    justify-content: end;
    margin: 2% 2% 0 0;
    cursor: pointer;
    font-weight: 900;
    
}

.close-x:hover {
    top: 1px;
    color: orange;
    position: relative;
}

.log-submit {
    background: #F7941C;
    border-radius: 30px;
    border: none;
    padding: 8px 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-inputs {
    display: flex;
    /* flex-direction: column; */
}

.log-input-header {
    font-weight: 900;
}