.plot-logs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-container,.log-form-btn {
    /* margin-left: 7%; */
}

.log-container {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.log-container-header {
    margin-bottom: 5%;
    font-size: 22px;
    font-weight: 500;
}

.log-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.habit-log-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    margin: 2% 20%;
}

.log-show {
    padding: 2% 5%;
    line-height: 1.6;
}

.profile-header {
    text-align: center;
    margin: 2.5% 0;
    font-size: 30px;
    font-weight: 400;
    color: #F7941C;
    text-shadow: 1px 1px lightgrey;
}

.log-form-btn > button {
    background: #F7941C;
    border-radius: 30px;
    border: none;
    padding: 8px 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.log-time-msg {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.good {
    color: #50C878;
}

.bad {
    color: black;
    font-size: 15px;
}

.time-until-date {
    color:#F7941C;
    font-size: 20px;
}

.no-logs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20%;
    margin-bottom: 3%;
    line-height: 2.5;
}